* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: "Lilita One", sans-serif;
}

button { 
    font-family: "Raleway", sans-serif;
}

body {
    height: 100vh;
    background-color: #fafafa;
}

header {
    height: 20%;
}

#empty-header-div {
    width: 215px;
}

#logo-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11.5%;
    padding-right: 11.5%;
}

#logo {
    display: flex;
    align-items: center;
}

#logo p {
    position: relative;
    width: 90px;
    text-align: right;
    font-size: 1.5rem;    
}

#logo h1 {
    font-size: 13rem;;
}

#start-refresh {
    height: 60px;
    width: 250px;
    border: none;
    background-color: #fafafa;
    font-size: 2rem;
    font-weight: 500;
}

#start-refresh:hover {
    border: 3px solid lightgray;
    border-radius: 16px;
    box-shadow: 0 0 13px #555;
    background-color: #222;
    color: #fafafa;
    font-size: 2rem;
    font-weight: 200;
}

#start-refresh:active {
    box-shadow: 0 0 0 #555;
    background-color: #111;
}

main {
    height: 60%;
}

#game-container {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.player-section {
    width: 20%;
}

.player-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.player-name {
    color: #333;
    border-bottom: 2px solid #444;
    font-size: 4.5rem;
}

.score-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    color: #444;
    font-size: 4rem;
}

.roll-button {
    height: 75px;
    width: 200px;
    border: 3px solid lightgray;
    border-radius: 16px;
    box-shadow: 0 0 13px #555;
    background-color: #222;
    color: #fafafa;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 3px;
}

.roll-button:hover {
    font-weight: 300;
    box-shadow: 0 0 18px #555;
}

.roll-button:active {
    font-weight: 100;
    box-shadow: 0 0 0 #555;
    background-color: #111;
}

#dice-section {
    width: 40%;
}

.dice-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    width: 250px;
}

.img-container img {
    width: 100%;
    background-color: black;
    border: 5px solid #333;
    border-radius: 60px;
}

footer {
    height: 20%;
}

#winner-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

#winning-message {
    color: #333;
    font-size: 6rem;
}

@media (max-width: 1330px) {
    * {
        padding: 2px;
    }
    html {
        font-size: 10px;
    }
    .roll-button {
        height: 70px;
        width: 188px;
    }
    .dice-container {
        gap: 20px;
    }
  }

@media (max-width: 1230px) {
    * {
        padding: 4px;
    }
    html {
        font-size: 8px;
    }
    
    .roll-button {
        height: 65px;
        width: 176px;
    }
    .dice-container {
        gap: 15px;
    }
    .img-container img {
        border-radius: 50px;
    }
}

@media (max-width: 1030px) {
    * {
        padding: 6px;
    }
    html {
        font-size: 6px;
    }
    #logo p {
        font-size: 2.25rem;    
    }
    #logo h1 {
        font-size: 16rem;  
        margin-right: 5%;  
    }     
    #start-refresh {
        font-size: 2.25rem;
    }
    .roll-button {
        height: 60px;
        width: 164px;
    }
    .dice-container {
        gap: 10px;
    }
    .img-container img {
        border-radius: 40px;
    }
}

@media (max-width: 885px) {
    * {
        padding: 4px;
    }
    html {
        font-size: 5px;
    }
    #logo p {
        font-size: 2.5rem;    
    }
    #logo h1 {
        font-size: 20rem;  
        margin-right: 5%;  
    }     
    #start-refresh {
        font-size: 2.5rem;
    }
    #start-refresh:hover {
        font-size: 2.5rem;
    }
    .roll-button {
        height: 55px;
        width: 140px;
    }
    .dice-container {
        gap: 10px;
    }
    .img-container img {
        border-radius: 30px;
    }
}

@media (max-width: 730px) {
    * {
        padding: 2px;
    }
    html {
        font-size: 5px;
    }   
    #start-refresh {
        font-size: 3rem;
    }
    
    #start-refresh:hover {
        font-size: 3rem;
    }
    .roll-button {
        height: 50px;
        width: 120px;
    }
    .dice-container {
        gap: 5px;
    }
}

@media (max-width: 640px) {
    * {
        padding: 0px;
    }
    html {
        font-size: 4px;
    }
    #logo h1 {
        font-size: 20rem;  
        margin-right: 10%;  
    }    
    .img-container {
        width: 90px;
    }
    .roll-button {
        height: 45px;
        width: 100px;
    }
    .dice-container {
        gap: 0;
    }
}

@media (max-width: 430px) {
    * {
        padding: 0px;
    }
    html {
        font-size: 3px;
    }
    #logo h1 {
        font-size: 20rem;  
        margin-right: 10%;  
    }    
    .img-container {
        width: 50px;
    }
    .roll-button {
        height: 40px;
        width: 80px;
    }
}